{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'users/forms.css' %}">{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <p>Your username or password didn't match. Please try again.</p>
        {% endif %}
        {% for field in form %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <br>
        <button type="submit">Отправить</button>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}