ul {
  height: 50px;
  background-color: #003087;
}

ul li {
  height: inherit;
  display: inline-block;
  flex: 0 0 1;
}

ul li:first-child {
  margin-left: 20px;
}



ul li:last-child {
  justify-content: flex-end;
  margin-right: 20px;
  float: right;
}