{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}
{% block title %}{{ category.name }}{% endblock %}


{% block content %}
<table class="category-table">
        <tbody>
            <tr>
                {% show_sidebar category_selected=current_category %}

                <td class="categories-content" valign="top">
                    <div class="container">
                        {% if current_subcategory %}
                            <h1>{{ current_subcategory }}</h1>
                        {% endif %}
                        {% if products %}
                        <div class="container mt-2 mb-3">
                            <form class="filters" method="get">
                                {% for field in filters_form %}
                                    {{ field.label_tag }}
                                    {{ field }}
                                {% endfor %}
                                <button class="search-btn" type="submit"><ion-icon name="search-circle"></ion-icon></button>
                            </form>
                        </div>
                        <div class="row">
                            {% for product in products %}
                            {% if not product.on_moderation %}
                            <div class="col-md-4">
                                <div class="product">
                                    <div class="product-image">
                                        <img src="{{product.picture.url}}" alt="{{ product.name }}" width="300" height="200">
                                    </div>
                                    <div class="info">
                                        <a href="{{ product.get_absolute_url }}"><h3>{{ product.name }}</h3></a>
                                        <div class="info-box">
                                            <div>
                                                <ul class="raiting">
                                                    {% for star in 12545|make_list %}
                                                    {% if forloop.counter <= product.average_rating %}
                                                    <li><ion-icon name="star"></ion-icon></li>
                                                    {% else %}
                                                    <li><ion-icon name="star-outline"></ion-icon></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <li><small>({{ product.feedback_counter}})</small></li>
                                                </ul>
                                            </div>
                                            <span class="amount">{{ product.amount }} qty available</span>
                                        </div>
                                        <div class="info-box">
                                            <span class="price">{{ product.price }} <small>{{ product.currency }}</small></span>
                                            <div class="add_to_cart_form">
                                                <form class="add_to_cart_form" action="{% url 'cart:add_to_cart' product.pk %}" method="post" target="_blank">
                                                    {% csrf_token %}
                                                    {% for field in cart_form %}
                                                    {{ field }}
                                                    {% endfor %}
                                                    <button class="add-to-cart"><ion-icon name="cart"></ion-icon></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </td>
                {% else %}
                <td valign="top">
                    <div class="container mt-3 availability">
                        <h2>No products available</h2>
                        <ion-icon class='availability-icon' name="sad-outline"></ion-icon>
                    </div>
                </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}

