{% extends 'base.html' %}

{% block title %}Market{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md2 row-cols-lg-5 g-3">
        {% for category in categories %}
            <div class="col">
                <div class="category-card">

                    <a href="{{ category.get_absolute_url }}">
                    <img class='category-img' src="{{category.picture.url}}" alt="">
                        <h1 class="cat-name">{{ category.name }}</h1></a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
