{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'goods/forms.css' %}">{% endblock %}

{% block title %}New card{% endblock %}

{% block content %}
    <h1>Create new product card</h1>

 <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in card_form %}
            <div class="form-style {% if field.errors %} errors {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <br>
        <button type="submit">Create</button>
    </form>
{% endblock %}