{% extends 'base.html' %}
{% load static %}
{% load feedback_tags %}
{% block title %}{{ product.name }}{% endblock %}


{% block content %}
<div class="container product-card mt-3">

    <div class="product-content">
        {% if product.on_moderation %}
        <div class="moderation-block">
            Your product card was submitted and will be reviewed by a moderator before
            being visible to all users. This post is currently awaiting for a moderator to review.
        </div>
        {% endif %}

        <div class="row">
            <div class="product-picture col-8">
                <img src="{{product.picture.url}}" alt="Product Card">
            </div>
            <div class="info col-4">
                <h1 class="fs-3 lh-1">{{ product.name }}</h1>
                <span class="fw-semibold text-muted"><small>Part number</small> {{ product.part_number }}</span>
                <div class="product-user mb-3">
                    Owner: <a href="#">{{ product.user }}</a>
                </div>
                {% if product.subcategory %}
                <div class="product-subcat">Subcategory:
                    <span class="fw-bolder">{{ product.subcategory }}</span>
                </div>
                {% endif %}
                <div class="product-amount">Amount available:
                    <span class="fw-bolder">{{ product.amount }}</span>
                </div>
                <div class="product-price">Price:
                    {% if currency == 'EURO' %}
                    <span class="fw-bolder">{{ product.price_euro }} €</span>
                    {% else %}
                    <span class="fw-bolder">{{ product.price_usd }} $</span>
                    {% endif %}
                </div>
                <div class="product-feedbacks mt-2">
                    <a href="#feedbacks">{% show_feedback_stars average_rating=product.average_rating show_counter=True counter=product.feedback_counter %}</a>
                </div>
                <div class="product-form mt-2">
                    {% if product.amount > 0 %}
                <div class="add_to_cart_form">
                    <form class="d-flex  align-items-center" action="{% url 'cart:add_to_cart' product.pk %}" method="post" target="_blank">
                        {% csrf_token %}
                        <a class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <ion-icon name="remove-outline"></ion-icon>
                        </a>
                        {% for field in cart_form %}
                        {{ field }}
                        {% endfor %}
                        <a class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                        <button class="add-to-cart"><ion-icon name="cart"></ion-icon></button>
                    </form>
                </div>
                    {% endif %}
            </div>
        </div>

        <div class="discription mt-3">
            <span class="fw-semibold text-muted"><small>Created</small> {{ product.created }}</span>
            <div class="fw-semibold">Discription:</div>
            <div class="lh-1"> {{ product.discription|linebreaks }}</div>
        </div>
    </div>


    <div class="mt-3 feedback">
        {% if request.user.profile == 'CUSTOMER' %}
        <div class="review">
            <div class="fs-6 fw-semibold">Write a Review</div>
            {% show_feedback_form product_pk=product.pk  %}
        </div>
        {% endif %}
        <div class="mt-3 feedbacks">
            <h3>Customer reviews</h3>
            <div class="rating-info">
                {% show_feedback_stars average_rating=product.average_rating %}
                <span><small>{{ product.feedback_counter}} total ratings</small></span>
            </div>
            <br>
            <a name="feedbacks"></a>
            {% for feedback in product.feedback.all %}
                <div class="one-feedback-block">
                    <div class="feedback-username">
                        <span class="fw-semibold text-muted"><small>{{ feedback.user }}</small></span>
                    </div>
                    <div class="feedback-rating">
                        {% show_feedback_stars average_rating=feedback.rating %}
                    </div>
                    <div class="text-muted"><small>Reviewed {{ feedback.date }}</small></div>
                    <div class="feedback-data fst-italic lh-1">
                        {{ feedback.text|linebreaks }}
                    </div>

                    {% if feedback.user == request.user or request.user.is_staff %}
                    <a class="btn btn-danger" href="{% url 'feedback:remove_feedback' feedback.pk %}">delete</a>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}