{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}


{% block content %}
    <h1> Product card </h1>
    {% if product.on_moderation %}
        <ul>Your product card was submitted and will be reviewed by a moderator before
            being visible to all users. This post is currently awaiting for a moderator to review.</ul>
    {% endif %}
    <ul>Owner: {{ product.user }}</ul>
    <li>Product name: {{ product.name }}</li>
    <li>Discription: {{ product.discription }}</li>
    <li>Amount: {{ product.amount }}</li>
    <li>Price: {{ product.price }} {{ product.currency }}</li>
    <li>Created: {{ product.created }}</li>
    {% if product.updated != product.created %}
        <li> Updated: {{ product.updated }}</li>
    {% endif %}
    <img src="{{product.picture.url}}" alt="Product Card" width="100" height="100">

{% endblock %}