{% extends 'base.html' %}
{% load static %}
{% block title %}Start Page{% endblock %}


{% block content %}
    <div class="container my-5">
        <div class="row row-cols-2 row-cols-lg-2">
            <div class="col">
                <h1 class="sp-h1">AutoLand</h1>
                <h2 class="sp-h2">Marketplace where you can buy and sell auto parts</h2>
                <div class="sp-but">
                    {% if not request.user.is_authenticated %}
                        <a class="sp-signup-button btn btn-primary"href="{% url 'sign_up' %}" class="register">Sign Up</a>
                        <a class="sp-login-button btn btn-secondary" href="{% url 'login' %}">Log In</a>
                    {% else %}
                        <a class="sp-login-button btn btn-primary" href="{% url 'market' %}">Market</a>
                    {% endif %}
                </div>
                <form class="d-flex" role="search" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
            <div class="col">
                <div class="auto-parts">
                    <img src="{% static 'pictures/auto-parts.jpg' %}" alt="AutoParts">
                </div>
            </div>
        </div>
    </div>
{% endblock %}