{% extends 'base.html' %}
{% load static %}
{% block title %}SignUp{% endblock %}


{% block content %}
<section class="signup-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-3">
                    <h1>Register</h1>
                </div>
            </div>
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-users fa-3x"></i>
                    </div>
                    <h3 class="text-center mb-4">Sign Up</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ user_form.non_field_errors }}
                        <div class="form-group mb-3">
                            {{ user_form.username }}
                            {{ user_form.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ user_form.email }}
                            {{ user_form.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ user_form.password }}
                            {{ user_form.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ user_form.repeat_password }}
                            {{ user_form.errors }}
                        </div>
                        <div class="form-group mb-3">
                            {{ profile_form.user_type }}
                        </div>
                        <div class="form-group mb-2">
                            <button class="form-control btn btn-primary rounded submit px-3" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/26fc0dada0.js" crossorigin="anonymous"></script>
{% endblock %}